*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/build
/app/build
local.properties
/keystore/
*.jks
*.keystore
.DS_Store
/artifacts/
*.apk
*.aab
secrets.properties
